@model IEnumerable<Dev.IO.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-info" asp-action="Create">Cadastrar Produto</a>

<partial name="_ListProducts" />

